
@using AweBlazor.Data
@if (Question.Options != null)
{
    <div class="card col-md-6 offset-3" style="background-color:purple;border-radius:10px;border-color:aliceblue">
        <div class="card-header">
            <h2 align="inherit" style="color:aliceblue"> @Question.Title</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover table-active table-borderless" style="background-color: white; border-radius: 10px">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th class="col-md-2"> Multiple Choices</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Question.Options)
                    {
                        <tr>
                            <td style="color:purple"> <DxCheckBox Checked="@Checked" @onclick="@(()=>CheckedChanged(item.Id))"></DxCheckBox></td>
                            <td style="color:purple">@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row" align="center">
            <div class="col-md-2 offset-3">
                <button class="btn btn-outline-light" type="button"> Previous</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-light" type="button" @onclick="@SubmitButton"> Submit</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-light" type="button"> Next</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Generating Question . . . </p>
}
@code{

    [Parameter]
    public Question Question { get; set; }

    int OptionId;
    int QuestionId;

    public bool Checked { get; set; } = false;

    void CheckedChanged(int value)
    {
        OptionId = value;
    }
    void SubmitButton()
    {
        QuestionId = Question.Id;
        int opt = OptionId;
    }

}